{% extends 'common/base.html' %}

{% block head %}
  <link rel="stylesheet" href = "{{ url_for( 'static', filename='css/nav.css' ) }}">
{% endblock %}


{% block body %}
<div class="container aboutus">
  <div class="row">
    <div class="col">
      <div class="about-container">
        <h4>About Us</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
          eiusmod tempor incididunt ut labore et dolore magna aliqua. At quis 
          risus sed vulputate odio ut. Egestas egestas fringilla phasellus faucibus 
          scelerisque eleifend donec. Ut aliquam purus sit amet luctus venenatis. 
          Habitant morbi tristique senectus et netus et malesuada fames. 
          Nulla pellentesque dignissim enim sit amet venenatis. Sodales neque sodales
          ut etiam sit amet nisl purus. Lectus sit amet est placerat in egestas erat. 
          Fusce ut placerat orci nulla pellentesque dignissim enim sit amet. Cras
          adipiscing enim eu turpis egestas pretium aenean. At volutpat diam ut 
          venenatis tellus in metus. In est ante in nibh. Nibh tortor id aliquet 
          lectus proin.Cras adipiscing enim eu turpis egestas pretium aenean. 
          At volutpat diam ut venenatis tellus in metus. In est ante in nibh. 
          Nibh tortor id aliquet lectus proin.
        </p>
      </div>
        
    </div>
  </div>
</div>

<div class="container-fluid m-0 p-0">
  {% include 'common/footer.html' %}   
</div>
{% endblock %}