<footer>
    <div class="row">
        <div class="col-12">
            <div class="row footer-contact-us text-center">
                <div class="col-12 footer-contact-us-head">
                    <h3> Any Queries?Don't Hesitate?Feel Free to Make a Call</h3>
                </div>
                <div class="col-xs-12 col-lg-3 offset-lg-3 footer-contact-us-body ">
                    <div class="email">
                        <i class="fa fa-envelope" aria-hidden="true"> Support@domain-name.com</i>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-3 footer-contact-us-body" >
                    <div class="phone">
                        <i class="fa fa-phone" aria-hidden="true"> +91-123-456-7890 </i>
                    </div>
                </div>
            </div>
            
            <div class="row footer-column">
                <div class="col-xs-12 col-lg-3 footer-column-1">
                    <div class="row">
                        <div class="col-12 footer-logo">
                            <h4>Company Logo</h4>
                        </div>
                        <div class="col-12 footer-logo-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-3 footer-column-2">
                    <div class="row">
                        <div class="col-12 footer-column-head">
                            <h4>Lorem Ipsum</h4>
                        </div>
                        <div class="col-12 footer-column-body">
                            <ul>
                                <li>
                                    <a href="#">Link - 1</a>
                                </li>
                                <li>
                                    <a href="#">Link - 2</a>
                                </li>
                                <li>
                                    <a href="#">Link - 3</a>
                                </li>
                                <li>
                                    <a href="#">Link - 4</a>
                                </li>
                                <li>
                                    <a href="#">Link - 5</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-3 footer-column-3">
                    <div class="row">
                        <div class="col-12 footer-column-head">
                            <h4>Lorem Ipsum</h4>
                        </div>
                        <div class="col-12 footer-column-body">
                            <ul>
                                <li>
                                    <a href="#">Link - 1</a>
                                </li>
                                <li>
                                    <a href="#">Link - 2</a>
                                </li>
                                <li>
                                    <a href="#">Link - 3</a>
                                </li>
                                <li>
                                    <a href="#">Link - 4</a>
                                </li>
                                <li>
                                    <a href="#">Link - 5</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>

</footer>