{% extends 'common/base.html' %}

{% block head %}
    <link rel="stylesheet" href = "{{ url_for( 'static', filename='css/landing.css' ) }}">
{% endblock %}


{% block body %}
<div class="container landing_page">
    <div class="row landing_page_content-1">

        <div class="col-6 heading">
            <h2>
                digital campaign for digital world
            </h2>
            <a href="{{url_for('about')}}"><button class="btn">Know More</button></a>
        </div>
        <div class="col-6 bg-icon">
            <img src="{{ url_for('static', filename='assets/bg-icon.png') }}" alt="">
        </div>
    </div>

    <div class="body">
        <div class="row space_for_ads ">
            <div class="col ">
                
            </div>
        </div>
        
        <div class="row  space_for_ads">
            <div class="col">

            </div>
        </div>
        
        <div class="row landing_page_content-3 our_services">
            <div class="col-12 our-services-head text-center">
                <h6>Our Services</h6>
                <h4>Discover Services We Provide</h4>
                
            </div>
            <div class="col ">
                <div class="card border-0 text-center" >
                    <img class="card-img-top" src="http://t.commonsupport.xyz/venezia/images/icons/service-icons/icon-4.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Keyword Targeting</h5>
                      <p class="card-text">SoLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                      <a href="#" class="btn btn-secondary">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 text-center" >
                    <img class="card-img-top" src="http://t.commonsupport.xyz/venezia/images/icons/service-icons/icon-4.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Keyword Targeting</h5>
                      <p class="card-text">SoLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                      <a href="#" class="btn btn-secondary">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 text-center" >
                    <img class="card-img-top" src="http://t.commonsupport.xyz/venezia/images/icons/service-icons/icon-4.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Keyword Targeting</h5>
                      <p class="card-text">SoLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                      <a href="#" class="btn btn-secondary">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 text-center" >
                    <img class="card-img-top" src="http://t.commonsupport.xyz/venezia/images/icons/service-icons/icon-4.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Keyword Targeting</h5>
                      <p class="card-text">SoLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                      <a href="#" class="btn btn-secondary">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
        
          
        
    </div>
    


</div>
<div class="container-fluid m-0 p-0" id="contactus-footer">
    {% include 'common/footer.html' %}   
</div>






<!--
<img width="141" height="245" src="http://pluginspoint.com/digeewp/wp-content/uploads/2019/04/cta_shape03.png" 
class="vc_single_image-img attachment-full" alt="" loading="lazy" 
srcset="http://pluginspoint.com/digeewp/wp-content/uploads/2019/04/cta_shape03.png 141w, http://pluginspoint.com/digeewp/wp-content/uploads/2019/04/cta_shape03-46x80.png 46w" 
sizes="(max-width: 141px) 100vw, 141px">-->
            
{% endblock %}