*{
    box-sizing: border-box;
}

/*SIGNIN STYLE SHEET*/
.login{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.login-outer{
    width: 25vw;
    height: 45vh;
    background-color: rgb(150, 125, 255);
    border:1px solid rgba(0, 0, 0, 0.1);
    color:rgba(245, 245, 245, 0.9);
    border-radius:5px;
}

.login-heading h4{
    font-family: Arial, Helvetica, sans-serif;
    margin:1.5rem auto;
    color:rgba(245, 245, 245, 0.9);
}

.login-credentials .email,
.login-credentials .password{
    margin:1rem auto;  
}

.email input,
.password input{
    width: 80%;
    padding:5px;
    border:none;
    border-bottom:1px solid rgba(255, 255, 255, 0.2);
    outline: none;
    border-radius: 0;
    background-color: rgb(150, 125, 255);
    color:rgba(255, 255, 255, 0.8);
}

.email input:focus,
.password input:focus{
    transition-duration: 300ms;
    border-bottom:1px solid rgba(35, 0, 192, 0.6);
}


.email input::placeholder,
.password input::placeholder{
    color:rgba(245, 245, 245, 0.5);
}

.login-btn{
    margin:1rem auto;
    padding:2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.login-btn .sign_up{
    text-decoration: none;
    padding-top: 0.5rem;
    font-size: 0.9rem;
    color:rgba(255, 255, 255, 0.8);
}
.login-btn .btn{
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.9);
    color:rgb(150, 125, 255);
}
.login-btn .btn:hover{
    border:1px solid rgba(255, 255, 255, 0.8);
    background-color: rgb(150, 125, 255);
    color:rgba(255, 255, 255, 0.8);
}

/*MEDIA QUERIES*/

@media only screen and (min-width :300px){
    .login-outer{
        width: 75vw;
        height: 55vh;
    }
}
@media only screen and (min-width :360px){
    .login-outer{
        width: 70vw;
        height: 50vh;
    }
}
@media only screen and (min-width :400px){
    .login-outer{
        width: 70vw;
        height: 45vh;
    }
}
@media only screen and (min-width :760px){
    .login-outer{
        width: 50vw;
        height: 45vh;
    }
    .login-heading h4{
        margin:3rem auto;
    }
    .sign_up-credentials .username,
    .login-credentials .email,
    .login-credentials .password{
        margin:2rem auto;  
    }
}
@media only screen and (min-width :1020px){
    .login-outer{
        width: 40vw;
        height: 50vh;
    }
    .login-heading h4{
        margin:3rem auto;
    }
    .sign_up-credentials .username,
    .login-credentials .email,
    .login-credentials .password{
        margin:2rem auto;  
    }
    .username input,
    .email input,
    .password input{
        width: 80%;
        padding:5px;
        color:rgba(255, 255, 255, 0.8);
        font-size: 1.1rem;
    }
}
@media only screen and (min-width :1280px){
    .login-outer{
        width: 35vw;
        height: 40vh;
    }
    .login-heading h4{
        margin:2.5rem auto;
    }
}

@media only screen and (min-width :1600px){
    .login-outer{
        width: 20vw;
        height:40vh;
    }
    .login-heading h4{
        margin:2.5rem auto;
    }
}

@media only screen and (min-width :1900px){
    .login-outer{
        width: 20vw;
        height: 35vh;
    }
    .login-heading h4{
        margin:2.5rem auto;
    }
    .login-credentials .username,
    .login-credentials .email,
    .login-credentials .password{
        margin:2rem auto;  
    }
}














/*SIGNUP STYLE SHEET with responsiveness*/

.signup{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.signup-outer{
    width: 25vw;
    height: 45vh;
    background-color: rgb(150, 125, 255);
    border:1px solid rgba(0, 0, 0, 0.1);
    color:rgba(245, 245, 245, 0.9);
    border-radius:5px;
}

.signup-heading h4{
    font-family: Arial, Helvetica, sans-serif;
    margin:1.5rem auto;
    color:rgba(245, 245, 245, 0.9);
}
.sign_up-credentials .username,
.signup-credentials .email,
.signup-credentials .password{
    margin:1rem auto;  
}
.username input,
.email input,
.password input{
    width: 80%;
    padding:5px;
    border:none;
    border-bottom:1px solid rgba(255, 255, 255, 0.2);
    outline: none;
    border-radius: 0;
    background-color: rgb(150, 125, 255);
    color:rgba(255, 255, 255, 0.8);
}
.username input:focus,
.email input:focus,
.password input:focus{
    transition-duration: 300ms;
    border-bottom:1px solid rgba(35, 0, 192, 0.6);
}

.username input::placeholder,
.email input::placeholder,
.password input::placeholder{
    color:rgba(245, 245, 245, 0.5);
}

.signup-btn{
    margin:1rem auto;
    padding:2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.signup-btn .sign_up{
    text-decoration: none;
    padding-top: 0.5rem;
    font-size: 0.9rem;
    color:rgba(255, 255, 255, 0.8);
}
.signup-btn .btn{
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.9);
    color:rgb(150, 125, 255);
}
.signup-btn .btn:hover{
    border:1px solid rgba(255, 255, 255, 0.8);
    background-color: rgb(150, 125, 255);
    color:rgba(255, 255, 255, 0.8);
}

@media only screen and (min-width :300px){
    .signup-outer{
        width: 75vw;
        height: 55vh;
    }
}
@media only screen and (min-width :360px){
    .signup-outer{
        width: 70vw;
        height: 50vh;
    }
}
@media only screen and (min-width :400px){
    .signup-outer{
        width: 70vw;
        height: 45vh;
    }
}
@media only screen and (min-width :760px){
    .signup-outer{
        width: 50vw;
        height: 45vh;
    }
    .signup-heading h4{
        margin:3rem auto;
    }
    .sign_up-credentials .username,
    .signup-credentials .email,
    .signup-credentials .password{
        margin:2rem auto;  
    }
}
@media only screen and (min-width :1020px){
    .signup-outer{
        width: 40vw;
        height: 50vh;
    }
    .signup-heading h4{
        margin:3rem auto;
    }
    .sign_up-credentials .username,
    .signup-credentials .email,
    .signup-credentials .password{
        margin:2rem auto;  
    }
    .username input,
    .email input,
    .password input{
        width: 80%;
        padding:5px;
        color:rgba(255, 255, 255, 0.8);
        font-size: 1.1rem;
    }
}
@media only screen and (min-width :1280px){
    .signup-outer{
        width: 35vw;
        height: 55vh;
    }
    .signup-heading h4{
        margin:2.5rem auto;
    }
}

@media only screen and (min-width :1600px){
    .signup-outer{
        width: 30vw;
        height: 55vh;
    }
    .signup-heading h4{
        margin:2.5rem auto;
    }
}
@media only screen and (min-width :1920px){
    .signup-outer{
        width: 24vw;
        height: 45vh;
    }
    .signup-heading h4{
        margin:3rem auto;
    }
}


/*VERIFY OTP*/
.otp{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.verify-container{
    width: 25vw;
    height: 22vh;
    background-color: rgb(255, 255, 255);
    border:1px solid rgba(0, 0, 0, 0.1);
    color:rgba(53, 53, 53, 0.9);
    border-radius:5px;
}
.verify-container h4{
    margin: 1rem 0;
    text-align: center;
    
}
.input-container{
    margin-top:  8%;
    display: flex;
}
.input-container p{
    margin-top:2%;
    margin-left:3%;
    font-size: 1.4rem;
}
.verify-container input{
    width: 75%;
    padding: 4px;
    border:1px solid rgba(65, 65, 65, 0.2);
    outline: none;
    border-radius: 0;
    background-color: rgb(255, 255, 255);
    color:rgba(48, 48, 48, 0.8);
    margin-left:3%;
}
.verify-container .btn{
    border:1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    margin-top:2%;
}
