/* Import Fonts */

/* Main Style Start */
:root{
    --border-color:rgb(255,255,255,0.05);
    --bg-color: rgb(21,21,21);
    --sub-font: rgba(255,255,255,0.4);
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 360px) and (orientation: portrait) {
        
}

@media only screen and (min-width : 420px) and (orientation: portrait) {
    /* Styles */
    
}
 
/* Tablets (portrait) ----------- */
@media only screen and (min-width : 768px) and  (orientation : portrait) {
    /* Navigation styles */

}

@media only screen  and (min-width : 1024px) {
    .logo{
        width:100%;
        height: auto;
        max-width: 70px;
    }
    nav{
        position: relative;
        z-index: 2;
    }
    .nav-item{
        margin-left:0.8rem;
        margin-right: 0.8rem;
    }
    .mr .nav-item:hover{
        border-bottom: 2px solid rgb(255, 255, 255);
    }
    .nav-link{
        text-transform: uppercase;
        font-weight: 400;
    }
    .active{
        border-bottom: 2px solid rgb(255, 255, 255);
    }
    .mr .active > .nav-link{
        color:white;
        font-weight: 500;
    }
    
    .navbar-nav  .btn{
        padding: 10px 20px;
        border:none;
        font-weight: 500;
        transition-duration: 300ms;
    }
    .navbar-nav  .btn:hover{
        transition-duration: 300ms;
        font-weight: 500;
    }
    .mr{
        margin-right:8%;
    }
    
    .landing_page .landing_page_content-1{
        position:absolute;
        top:0px;
        left: 15px;
        background: url('../assets/bg-landing-page.png') center bottom no-repeat;
        background-size: cover;  
        height: 1000px;
        width: 100%;  
        padding-left:3rem;
        padding-right: 4rem;
    }

    .heading h2{
        margin-top: 20rem;
        font-weight: 700;
        font-size: 3.4rem;
        color:white;
        text-transform: capitalize;
    }
    .heading button{
        margin-top:3rem;
        border-radius: 26px;
        padding:15px 28px;
        color:white;
        background-image: linear-gradient(to right, #6b49ff,#7d5fff);
        font-size: 1rem;
    }
    .heading .btn:hover{
        cursor: pointer;
        color:seashell;
    }
    .bg-icon img{
        margin-top: 10rem;
        padding-left:4rem;
        width:100%;
        height: auto;
        max-width: 500px;
    }

    .body{
        margin-top:90%;
        background-color: rgb(253, 253, 253);
    }
    


    .space_for_ads{
        margin-top: 0%;
       
        height: 50vh;
    }
    

    /* SERVICES */
    .our-services{
        margin:3rem auto; 
        padding-bottom: 4rem;               
    }
    .card{
        margin-top: 2.5rem;
        width:15rem;
    }
    .card-body{
        margin-top: 1rem;
    }
    .card-img-top{
        width:100%;
        height: auto;
        max-width:100px;
        display: flex;
        align-self: center;
    }

    footer{
        overflow: hidden;
        position: relative;
        margin-top: 9rem;
        width: 100%;
    }
    

    .footer-contact-us{
        padding: 8rem 0;
        font-family: 'Alegreya Sans SC';
        background: #fafafa url('../assets/cloud-2.png') no-repeat bottom;
        background-size: 100% auto;
    }
    .footer-contact-us-head{
        font-family: 'Alegreya Sans SC';
        margin: 1rem 1rem ;
    }
    .footer-contact-us-body{
        margin-left: 3%;
        font-family: 'Alegreya Sans SC';
    }
    .footer-column{
        background-color: #ffffff;
        padding:3%;
        margin:3rem auto;
    }
    .footer-logo h4{
        font-weight: 800;
    }
    .footer-logo-content p{
        width: 80%;
        font-weight: 500;
        color:rgba(0, 0, 0, 0.5);
        margin:1rem 0 ;
    }
    .footer-column-head h4{
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 500;
        margin:1.2rem auto;
    }
    .footer-column-body{
        font-family:'Allerta';
        margin-top: 0.5rem;
    }
    .footer-column-body li{
        list-style-type: none;
        margin:0.5rem auto;
    }
    ul li > a{
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
    }
    ul li > a:hover{
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        border:none;
    }

    


}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1279px) {
    .logo{
        width:100%;
        height: auto;
        max-width: 70px;
    }
    nav{
        position: relative;
        z-index: 2;
    }
    .nav-item{
        margin-left:0.8rem;
        margin-right: 0.8rem;
    }
    .mr .nav-item:hover{
        border-bottom: 2px solid rgb(255, 255, 255);
    }
    .nav-link{
        text-transform: uppercase;
        font-weight: 400;
    }
    .active{
        border-bottom: 2px solid rgb(255, 255, 255);
    }
    .mr .active > .nav-link{
        color:white;
        font-weight: 500;
    }
    
    .navbar-nav  .btn{
        padding: 10px 20px;
        border:none;
        font-weight: 500;
        transition-duration: 300ms;
    }
    .navbar-nav  .btn:hover{
        transition-duration: 300ms;
        font-weight: 500;
    }
    .mr{
        margin-right:8%;
    }
    
    .landing_page .landing_page_content-1{
        position:absolute;
        top:0px;
        left: 15px;
        background: url('../assets/bg-landing-page.png') center bottom no-repeat;
        background-size: cover;  
        height: 1000px;
        width: 100%;  
        padding-left:3rem;
        padding-right: 4rem;
    }

    .heading h2{
        margin-top: 20rem;
        font-weight: 700;
        font-size: 3.4rem;
        color:white;
        text-transform: capitalize;
    }
    .heading button{
        margin-top:3rem;
        border-radius: 26px;
        padding:15px 28px;
        color:white;
        background-image: linear-gradient(to right, #6b49ff,#7d5fff);
        font-size: 1rem;
    }
    .heading .btn:hover{
        cursor: pointer;
        color:seashell;
    }
    .bg-icon img{
        margin-top: 10rem;
        padding-left:4rem;
        width:100%;
        height: auto;
        max-width: 500px;
    }

    .body{
        margin-top:90%;
        background-color: rgb(253, 253, 253);
    }
    


    .space_for_ads{
        margin-top: 0%;
       
        height: 50vh;
    }
    

    /* SERVICES */
    .our-services{
        margin:3rem auto; 
        padding-bottom: 4rem;               
    }
    .card{
        margin-top: 2.5rem;
        width:15rem;
    }
    .card-body{
        margin-top: 1rem;
    }
    .card-img-top{
        width:100%;
        height: auto;
        max-width:100px;
        display: flex;
        align-self: center;
    }

    footer{
        overflow: hidden;
        position: relative;
        margin-top: 9rem;
        width: 100%;
    }
    

    .footer-contact-us{
        padding: 8rem 0;
        font-family: 'Alegreya Sans SC';
        background: #fafafa url('../assets/cloud-2.png') no-repeat bottom;
        background-size: 100% auto;
    }
    .footer-contact-us-head{
        font-family: 'Alegreya Sans SC';
        margin: 1rem 1rem ;
    }
    .footer-contact-us-body{
        margin-left: 3%;
        font-family: 'Alegreya Sans SC';
    }
    .footer-column{
        background-color: #ffffff;
        padding:3%;
        margin:3rem auto;
    }
    .footer-logo h4{
        font-weight: 800;
    }
    .footer-logo-content p{
        width: 80%;
        font-weight: 500;
        color:rgba(0, 0, 0, 0.5);
        margin:1rem 0 ;
    }
    .footer-column-head h4{
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 500;
        margin:1.2rem auto;
    }
    .footer-column-body{
        font-family:'Allerta';
        margin-top: 0.5rem;
    }
    .footer-column-body li{
        list-style-type: none;
        margin:0.5rem auto;
    }
    ul li > a{
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
    }
    ul li > a:hover{
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        border:none;
    }




}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    

}   