*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    
}

.logo{
    width:100%;
    height: auto;
    max-width: 50px;
}

nav{
    background-color: #3b3b3b;
}






